.staticInfo {
    position: absolute;
    top: 42%;
    left: 90%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
}