.staticInfo {
    position: absolute;
    top: 32%;
    left: 55%;
    width: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
}

.gameStats{
    position: absolute;
    color: white;
    top: 5%;
    right: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a; /* Background for the body */
}

/* Main content with flexbox to contain the canvas and right container */
#mainContent {
    flex: 1;
    display: flex;
    width: 100%;
}

/* Canvas container */
#canvasContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444; /* Background for the area behind the canvas */
}

/* Right container */
#rightContainer {
    width: 420px;
    background-color: black;
}

/* Bottom container */
#bottomContainer {
    height: 180px;
    background-color: white;
}

/* Center the canvas inside its container */
canvas {
    background-color: #555; /* Background color of the canvas */
}